body {
    background-color: #fff;
    height: 100%;
    font-family: sans-serif;
}
.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.progress-border {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid rgb(226, 226, 226);
    position: relative;
    margin-right: 45px;
    opacity: 1;
    transition: opacity .3s;
}
.progress-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.progress-ring__circle {
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.3s;
    transition: transform 0.5s;
}
.cirlce-animate {
    animation-duration: .9s;
    animation-delay: .1s;
    animation-name: animated;
    animation-iteration-count: infinite;
}
@keyframes animated {
    from {
        transform: rotate(-90deg);
    }
  
    to {
        transform: rotate(270deg);
    }
  }
.inputs {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
}
.percent {
    border-radius: 15px;
    border: 2px solid #000000;
    width: 36px;
    height: 18px;
    text-align: center;
    margin-bottom: 15px;
}
input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.precent-name {
    position: absolute;
    top: -10px;
    left: 60px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
  }
.switch:not(:last-child) {
    margin-bottom: 15px;
}
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .name {
    margin-left: 50px;
  }
  .error{
    display: none;
    color: red;
    margin-left: 110px;
  }

  @media (max-width: 321px) {
    .progress {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 80px;
    }
    .progress-border {
      margin-bottom: 50px;
    }
  }